{{ $trees := slice "tree-narrow" "tree-wide" }}
{{ $ground := slice "grass" "grass-tall" "dirt" " " " " " " " " " " " " " " " " }}
{{ $campfire := slice "campfire-lit" "campfire"}}
<div id="area_1" class="area">
    <!-- 1st row -->
    <button data-id="9" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="10" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="11" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="12" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="13" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="14" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="15" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="16" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="17" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 2nd row -->
    <button data-id="27" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="28" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="29" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="30" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="31" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="32" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="33" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="34" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="35" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 3rd row -->
    <button data-id="45" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="46" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="47" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="48" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="49" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="50" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="51" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="52" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="53" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 4th row -->
    <button data-id="63" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="64" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="65" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="66" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="67" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="68" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="69" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="70" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="71" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 5th row -->
    <button data-id="81" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="82" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="83" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="84" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="85" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="86" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="87" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="88" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="89" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 6th row -->
    <button data-id="99" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="100" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="101" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="102" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="103" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="104" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="105" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="106" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="107" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 7th row -->
    <button data-id="117" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="118" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="119" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="120" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="121" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="122" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="123" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="124" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="125" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 8th row -->
    <button data-id="126" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="127" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="128" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="129" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="130" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="131" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="132" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="133" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="134" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 9th row -->
    <button data-id="144" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="145" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="146" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="147" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="148" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="149" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="150" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="151" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="152" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
</div>