{{ $trees := slice "tree-narrow" "tree-wide" }}
{{ $ground := slice "grass" "grass-tall" "dirt" " " " " " " " " " " " " " " " " }}
{{ $campfire := slice "campfire-lit" "campfire"}}
<div id="area_3" class="area">
    <!-- 1st row -->
    <button data-id="171" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="172" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="173" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="174" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="175" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="176" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="177" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="178" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="179" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 2nd row -->
    <button data-id="189" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="190" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="191" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="192" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="193" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="194" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="195" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="196" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="197" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 3rd row -->
    <button data-id="207" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="208" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="209" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="210" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="211" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="212" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="213" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="214" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="215" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 4th row -->
    <button data-id="225" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="226" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="227" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="228" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="229" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="230" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="231" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="232" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="233" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 5th row -->
    <button data-id="243" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="244" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="245" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="246" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="247" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="248" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="249" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="250" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="251" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 6th row -->
    <button data-id="261" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="262" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="263" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="264" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="265" data-monster class="sprite racoon-right {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="266" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="267" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="268" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="269" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 7th row -->
    <button data-id="279" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="280" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="281" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="282" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="283" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="284" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="285" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="286" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="287" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 8th row -->
    <button data-id="297" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="298" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="299" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="300" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="301" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="302" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="303" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="304" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="305" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 9th row -->
    <button data-id="315" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="316" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="317" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="318" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="319" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="320" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="321" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="322" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="323" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
</div>