{{ $trees := slice "tree-narrow" "tree-wide" }}
{{ $ground := slice "grass" "grass-tall" "dirt" " " " " " " " " " " " " " " " " }}
{{ $campfire := slice "campfire-lit" "campfire"}}
<div id="area_0" class="area">
    <!-- 1st row -->
    <button id="b0" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b1" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b2" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b3" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b4" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b5" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b6" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b7" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b8" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 9, 10, 11, 12, 13, 14, 15, 16, 17 -->
    <!-- 2nd row -->
    <button id="b18" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b19" disabled class="sprite sack {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b20" disabled class="sprite tent {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b21" data-d="b22" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b22" data-a="b21" data-s="b40" data-d="b22" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b23" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b24" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b25" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b26" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 27, 28, 29, 30, 31, 32, 33, 34, 35 -->
    <!-- 3rd row -->
    <button id="b36" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b37" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b38" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b39" disabled class="sprite {{ index ($campfire | shuffle) 0 }}"></button>
    <button id="b40" class="sprite move {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b41" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b42" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b43" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b44" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 45, 46, 47, 48, 49, 50, 51, 52, 53 -->
    <!-- 4th row -->
    <button id="b54" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b55" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b56" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b57" class="sprite move {{ index ($ground | shuffle) 0 }}"></button>
    <button data-player id="b58" class="sprite knight-left {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b59" class="sprite move {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b60" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b61" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b62" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 63, 64, 65, 66, 67, 68, 69, 70, 71 -->
    <!-- 5th row -->
    <button id="b72" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b73" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b74" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b75" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b76" class="sprite move {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b77" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b78" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b79" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b80" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 81, 82, 83, 84, 85, 86, 87, 88, 89 -->
    <!-- 6th row -->
    <button id="b90" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b91" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b92" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b93" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b94" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b95" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b96" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b97" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b98" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 99, 100, 101, 102, 103, 104, 105, 106, 107 -->
    <!-- 7th row -->
    <button id="b108" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b109" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b110" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b111" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b112" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b113" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b114" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b115" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b116" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 117, 118, 119, 120, 121, 122, 123, 124, 125 -->
    <!-- 8th row -->
    <button id="b117" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b118" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b119" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b120" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b121" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b122" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b123" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b124" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b125" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 126, 127, 128, 129, 130, 131, 132, 133, 134 -->
    <!-- 9th row -->
    <button id="b135" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b136" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b137" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b138" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b139" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b140" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b141" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b142" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b143" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 144, 145, 146, 147, 148, 149, 150, 151, 152 -->
</div>