{{ $trees := slice "tree-narrow" "tree-wide" }}
{{ $ground := slice "grass" "grass-tall" "dirt" " " " " " " " " " " " " " " " " " " " " " " }}
{{ $campfire := slice "campfire-lit" "campfire"}}
<div id="area_0" class="area">
    <!-- 1st row -->
    <button data-id="0" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="1" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="2" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="3" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="4" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="5" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="6" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="7" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="8" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 9, 10, 11, 12, 13, 14, 15, 16, 17 -->
    <!-- 2nd row -->
    <button data-id="18" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="19" disabled class="sprite sack {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="20" disabled class="sprite tent {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="21" data-d="b22" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="22" data-a="b21" data-s="b40" data-d="b22" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="23" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="24" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="25" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="26" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 27, 28, 29, 30, 31, 32, 33, 34, 35 -->
    <!-- 3rd row -->
    <button data-id="36" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="37" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="38" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="39" disabled class="sprite {{ index ($campfire | shuffle) 0 }}"></button>
    <button data-id="40" class="sprite move {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="41" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="42" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="43" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="44" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 45, 46, 47, 48, 49, 50, 51, 52, 53 -->
    <!-- 4th row -->
    <button data-id="54" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="55" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="56" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="57" class="sprite move {{ index ($ground | shuffle) 0 }}"></button>
    <button data-player data-id="58" class="sprite knight-left {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="59" class="sprite move {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="60" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="61" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="62" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 63, 64, 65, 66, 67, 68, 69, 70, 71 -->
    <!-- 5th row -->
    <button data-id="72" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="73" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="74" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="75" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="76" class="sprite move {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="77" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="78" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="79" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="80" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 81, 82, 83, 84, 85, 86, 87, 88, 89 -->
    <!-- 6th row -->
    <button data-id="90" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="91" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="92" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="93" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="94" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="95" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="96" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="97" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="98" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 99, 100, 101, 102, 103, 104, 105, 106, 107 -->
    <!-- 7th row -->
    <button data-id="108" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="109" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="110" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="111" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="112" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="113" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="114" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="115" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="116" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 117, 118, 119, 120, 121, 122, 123, 124, 125 -->
    <!-- 8th row -->
    <button data-id="126" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="127" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="128" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="129" disabled class="sprite pot {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="130" disabled class="sprite {{ index bush ($ground | shuffle) 0 }}"></button>
    <button data-id="131" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="132" class="sprite racoon-right {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="133" disabled class="sprite bush {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="134" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 135, 136, 137, 138, 139, 140, 141, 142, 143 -->
    <!-- 9th row -->
    <button data-id="144" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button data-id="145" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="146" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="147" disabled class="sprite rock-small {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="148" disabled class="sprite fence {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="149" disabled class="sprite fence {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="150" disabled class="sprite fence {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="151" disabled class="sprite fence {{ index ($ground | shuffle) 0 }}"></button>
    <button data-id="152" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 153, 154, 155, 156, 157, 158, 159, 160, 161 -->
</div>