{{ $trees := slice "tree-narrow" "tree-wide" }}
{{ $ground := slice "grass" "grass-tall" "dirt" " " " " " " " " " " " " " " " " }}
{{ $campfire := slice "campfire-lit" "campfire"}}
<div id="area_3" class="area">
    <!-- 1st row -->
    <button id="b162" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b163" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b164" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b165" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b166" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b167" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b168" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b169" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b170" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 2nd row -->
    <button id="b180" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b181" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b182" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b183" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b184" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b185" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b186" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b187" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b188" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 3rd row -->
    <button id="b198" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b199" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b200" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b201" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b202" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b203" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b204" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b205" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b206" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 4th row -->
    <button id="b216" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b217" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b218" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b219" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b220" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b221" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b222" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b223" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b224" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 5th row -->
    <button id="b234" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b235" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b236" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b237" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b238" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b239" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b240" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b241" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b242" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 6th row -->
    <button id="b252" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b253" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b254" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b255" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b256" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b257" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b258" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b259" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b260" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 7th row -->
    <button id="b270" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b271" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b272" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b273" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b274" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b275" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b276" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b277" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b278" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 8th row -->
    <button id="b288" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b289" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b290" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b291" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b292" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b293" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b294" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b295" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b296" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 9th row -->
    <button id="b306" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b307" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b308" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b309" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b310" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b311" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b312" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b313" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b314" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
</div>