{{ $trees := slice "tree-narrow" "tree-wide" }}
{{ $ground := slice "grass" "grass-tall" "dirt" " " " " " " " " " " " " " " " " }}
{{ $campfire := slice "campfire-lit" "campfire"}}
<div id="area_2" class="area">
    <!-- 1st row -->
    <button id="b153" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b154" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b155" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b156" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b157" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b158" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b159" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b160" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b161" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 162, 163, 164, 165, 166, 167, 168, 169, 170 -->
    <!-- 2nd row -->
    <button id="b171" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b172" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b173" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b174" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b175" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b176" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b177" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b178" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b179" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 180, 181, 182, 183, 184, 185, 186, 187, 188 -->
    <!-- 3rd row -->
    <button id="b189" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b190" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b191" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b192" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b193" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b194" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b195" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b196" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b197" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 198, 199, 200, 201, 202, 203, 204, 205, 206 -->
    <!-- 4th row -->
    <button id="b207" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b208" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b209" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b210" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b211" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b212" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b213" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b214" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b215" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 216, 217, 218, 219, 220, 221, 222, 223, 224 -->
    <!-- 5th row -->
    <button id="b225" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b226" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b227" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b228" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b229" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b230" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b231" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b232" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b233" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 234, 235, 236, 237, 238, 239, 240, 241, 242 -->
    <!-- 6th row -->
    <button id="b243" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b244" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b245" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b246" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b247" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b248" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b249" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b250" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b251" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 252, 253, 254, 255, 256, 257, 258, 259, 260 -->
    <!-- 7th row -->
    <button id="b261" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b262" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b263" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b264" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b265" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b266" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b267" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b268" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b269" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 270, 271, 272, 273, 274, 275, 276, 277, 278 -->
    <!-- 8th row -->
    <button id="b279" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b280" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b281" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b282" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b283" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b284" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b285" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b286" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <button id="b287" class="sprite {{ index ($ground | shuffle) 0 }}"></button>
    <!-- 288, 289, 290, 291, 292, 293, 294, 295, 296 -->
    <!-- 9th row -->
    <button id="b297" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b298" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b299" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b300" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b301" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b302" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b303" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b304" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <button id="b305" disabled class="sprite {{ index ($trees | shuffle) 0 }}"></button>
    <!-- 306, 307, 308, 309, 310, 311, 312, 313, 314 -->
</div>