/* Starter set is 17x14*/
:root {
    /* Starter set is 17x14*/
    /* red, season 0px */
    /* purple, season -224px */
    /* yello, season -448px */
    /* grey, season -672px */
    --season: -448px;
    --y0: 0px;
    --y1: calc(calc(16px * -1) + var(--season));
    --y2: calc(calc(16px * -2) + var(--season));
    --y3: calc(calc(16px * -3) + var(--season));
    --y4: calc(calc(16px * -4) + var(--season));
    --y5: calc(calc(16px * -5) + var(--season));
    --y6: calc(calc(16px * -6) + var(--season));
    --y7: calc(calc(16px * -7) + var(--season));
    --y8: calc(calc(16px * -8) + var(--season));
    --y9: calc(calc(16px * -9) + var(--season));
    --y10: calc(calc(16px * -10) + var(--season));
    --y11: calc(calc(16px * -11) + var(--season));
    --y12: calc(calc(16px * -12) + var(--season));
    --y13: calc(calc(16px * -13) + var(--season));
    --x0: 0px;
    --x1: calc(16px * -1);
    --x2: calc(16px * -2);
    --x3: calc(16px * -3);
    --x4: calc(16px * -4);
    --x5: calc(16px * -5);
    --x6: calc(16px * -6);
    --x7: calc(16px * -7);
    --x8: calc(16px * -8);
    --x9: calc(16px * -9);
    --x10: calc(16px * -10);
    --x11: calc(16px * -11);
    --x12: calc(16px * -12);
    --x13: calc(16px * -13);
    --x14: calc(16px * -14);
    --x15: calc(16px * -15);
    --x16: calc(16px * -16);
}

button { padding: 0; margin: 0; border: 0; background:none; width:32px; height:32px;}
.area { background-color: black; display: grid; grid-template-columns: repeat(9, 1fr); width: 288px; height: 288px; }
.world { background-color: black; display: grid; grid-template-columns: repeat(2, 1fr); width: 576px; height: 576px; }
[data-type="wall"] { pointer-events: none; }
.move { border: 1px solid #081723; }
.move:nth-of-type(1):before { content: "w"; color:antiquewhite; }
.move:nth-of-type(2):before { content: "a" }
.move:nth-of-type(3):before { content: "s" }
.move:nth-of-type(4):before { content: "d" }
.sprite { transform-style: preserve-3d; margin: 8px; image-rendering: pixelated; background-image:url(../img/sprites/RoguelikeStarter.png); width:16px; height:16px; transform: scale(2); }
.empty { background-position: var(--x0) var(--y0); }

/* WALLS */
.rock-small { background-position:var(--x0) var(--y1); }
.rock-big { background-position:var(--x1) var(--y1); }
.tree-narrow { background-position:var(--x5) var(--y1); }
.tree-wide { background-position:var(--x6) var(--y1); }
.wall-brick { background-position:var(--x4) var(--y0); }
.wall-brick-top-uneven { background-position:var(--x5) var(--y0); }
.wall-stone-upper-left-corner { background-position:var(--x8) var(--y1); }
.wall-stone { background-position:var(--x9) var(--y1); }
.wall-stone-upper-right-corner { background-position:var(--x10) var(--y1); }
.wall-stone-lower-left-corner { background-position:var(--x8) var(--y2); }
.wall-stone-broken { background-position:var(--x9) var(--y2); }
.wall-stone-lower-right-corner { background-position:var(--x10) var(--y2); }
.wall-brick-left-corner { background-position:var(--x0) var(--y2); }
.wall-brick { background-position:var(--x1) var(--y2); }
.wall-brick-right-corner { background-position:var(--x2) var(--y2); }
.wall-symbol-1 { background-position:var(--x0) var(--y3); }
.wall-symbol-2 { background-position:var(--x1) var(--y3); }
.wall-symbol-3 { background-position:var(--x2) var(--y3); }
.wall-symbol-4 { background-position:var(--x3) var(--y3); }


/* OBJECTS */
.tent { background-position:var(--x7) var(--y1); }
.chest-closed { background-position:var(--x11) var(--y1); }
.chest-open { background-position:var(--x12) var(--y1); }
.fence { background-position:var(--x3) var(--y2); }
.fence-door-closed { background-position:var(--x4) var(--y3); }
.fence-door-open { background-position:var(--x5) var(--y3); }
.pot { background-position:var(--x3) var(--y2); }
.pot-broken { background-position:var(--x3) var(--y2); }
.cave { background-position:var(--x6) var(--y2); }
.sack { background-position:var(--x7) var(--y2); }
.campfire { background-position:var(--x10) var(--y4); }




/* FLOORING */
.cobblestone:after{
    background-position: var(--x6) var(--y0); content: " "; position: absolute; margin: -8px; image-rendering: pixelated; background-image: url(../img/sprites/RoguelikeStarter.png); width: 16px; height: 16px; transform: translateZ(-1px);
}
.waves:after{
    background-position: var(--x7) var(--y0); content: " "; position: absolute; margin: -8px; image-rendering: pixelated; background-image: url(../img/sprites/RoguelikeStarter.png); width: 16px; height: 16px; transform: translateZ(-1px);
}
.grass:after{
    background-position: var(--x4) var(--y1); content: " "; position: absolute; margin: -8px; image-rendering: pixelated; background-image: url(../img/sprites/RoguelikeStarter.png); width: 16px; height: 16px; transform: translateZ(-1px);
}
.grass-tall:after{
    background-position: var(--x3) var(--y1); content: " "; position: absolute; margin: -8px; image-rendering: pixelated; background-image: url(../img/sprites/RoguelikeStarter.png); width: 16px; height: 16px; transform: translateZ(-1px);
}
.dirt:after{
    background-position: var(--x2) var(--y1); content: " "; position: absolute; margin: -8px; image-rendering: pixelated; background-image: url(../img/sprites/RoguelikeStarter.png); width: 16px; height: 16px; transform: translateZ(-1px);
}



/* ANIMATED ITEMS */
.torch { background-position:var(--x11) var(--y2); animation: torchAnimation 1s steps(4, jump-none) infinite; }
.shard { background-position:var(--x11) var(--y3); animation: shardAnimation 1s steps(4, jump-none) infinite; }
.campfire-lit { background-position:var(--x11) var(--y4); animation: campfireAnimation 1s steps(4, jump-none) infinite; }
.potion { background-position:var(--x11) var(--y5); animation: potionAnimation 1s steps(4, jump-none) infinite; }
.crystal { background-position:var(--x11) var(--y6); animation: crystalAnimation 1s steps(4, jump-none) infinite; }
.minecart-left-right { background-position:var(--x13) var(--y1); animation: minecart1Animation 1s steps(2, jump-none) infinite; }
.minecart-up-down { background-position:var(--x15) var(--y1); animation: minecart2Animation 1s steps(2, jump-none) infinite; }


@keyframes minecart2Animation {
    from { background-position: var(--x15) var(--y1); }
    to { background-position: var(--x16) var(--y1); }
}
@keyframes minecart1Animation {
    from { background-position: var(--x13) var(--y1); }
    to { background-position: var(--x14) var(--y1); }
}
@keyframes torchAnimation {
    from { background-position: var(--x11) var(--y2); }
    to { background-position: var(--x14) var(--y2); }
}
@keyframes shardAnimation {
    from { background-position: var(--x11) var(--y3); }
    to { background-position: var(--x14) var(--y3); }
}
@keyframes campfireAnimation {
    from { background-position: var(--x11) var(--y4); }
    to { background-position: var(--x14) var(--y4); }
}
@keyframes potionAnimation {
    from { background-position: var(--x11) var(--y5); }
    to { background-position: var(--x14) var(--y5); }
}
@keyframes crystalAnimation {
    from { background-position: var(--x11) var(--y6); }
    to { background-position: var(--x14) var(--y6); }
}

/* WALKING ANIMATIONS */
.knight-left { background-position: var(--x0) var(--y9); animation: knightAnimation 1s steps(4, jump-none) infinite;}
.knight-right { transform: scale(-2,2); background-position: var(--x0) var(--y9); animation: knightAnimation 1s steps(4, jump-none) infinite;}
.slime-left { background-position: var(--x0) var(--y8); animation: slimeAnimation 1s steps(4, jump-none) infinite;}
.slime-right { transform: scale(-2,2); background-position: var(--x0) var(--y8); animation: slimeAnimation 1s steps(4, jump-none) infinite;}
.thief-left { background-position: var(--x0) var(--y10); animation: thiefAnimation 1s steps(4, jump-none) infinite;}
.thief-right { transform: scale(-2,2); background-position: var(--x0) var(--y10); animation: thiefAnimation 1s steps(4, jump-none) infinite;}
.mummy-left { background-position: var(--x0) var(--y11); animation: mummyAnimation 1s steps(4, jump-none) infinite;}
.mummy-right { transform: scale(-2,2); background-position: var(--x0) var(--y11); animation: mummyAnimation 1s steps(4, jump-none) infinite;}
.racoon-left { background-position: var(--x0) var(--y12); animation: racoonAnimation 1s steps(4, jump-none) infinite;}
.racoon-right { transform: scale(-2,2); background-position: var(--x0) var(--y12); animation: racoonAnimation 1s steps(4, jump-none) infinite;}
.mushroom-left { background-position: var(--x0) var(--y13); animation: mushroomAnimation 1s steps(4, jump-none) infinite;}
.mushroom-right { transform: scale(-2,2); background-position: var(--x0) var(--y13); animation: mushroomAnimation 1s steps(4, jump-none) infinite;}


@keyframes knightAnimation {
    from { background-position: var(--x0) var(--y9); }
    to { background-position: var(--x3) var(--y9);}
}
@keyframes slimeAnimation {
    from { background-position: var(--x0) var(--y8); }
    to { background-position: var(--x3) var(--y8);}
}
@keyframes thiefAnimation {
    from { background-position: var(--x0) var(--y10); }
    to { background-position: var(--x3) var(--y10);}
}
@keyframes mummyAnimation {
    from { background-position: var(--x0) var(--y11); }
    to { background-position: var(--x3) var(--y11);}
}
@keyframes racoonAnimation {
    from { background-position: var(--x0) var(--y12); }
    to { background-position: var(--x3) var(--y12);}
}
@keyframes mushroomAnimation {
    from { background-position: var(--x0) var(--y13); }
    to { background-position: var(--x3) var(--y13);}
}