<!DOCTYPE html>
<html id="html" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1">
	<title>{{ .Site.Title }}</title>
	<meta name="description" content="{{ .Summary }}">
	<link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
	{{- with .OutputFormats.Get "RSS" -}}
	<link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}"	href="{{ .RelPermalink }}"/>
	{{- with $.Site.Params.podcast_title }}
	<link rel="alternate" type="application/rss+xml" title="{{ . }}"	href="{{ "podcast.xml" | absURL }}" />
	{{ else }}
	<link rel="alternate" type="application/rss+xml" title="Podcast" href="{{ "podcast.xml" | absURL }}" />
	{{ end -}}
	<link rel="alternate" type="application/json" title="{{ $.Site.Title }}" href="{{ "feed.json" | absURL }}" />
	<link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
	{{- end -}}
	<link rel="me" href="https://github.com/heyloura" />
	<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
	<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
	<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
	<link rel="micropub" href="https://micro.blog/micropub" />
	<link rel="microsub" href="https://micro.blog/microsub" />
	<link rel="webmention" href="https://micro.blog/webmention" />
	<link rel="subscribe" href="https://micro.blog/users/follow" />
	<link rel="canonical" href="{{ .Permalink }}"> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="/css/prism.css">
	<link rel="stylesheet" href="/css/game.css">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> -->
	<link rel="stylesheet" href="{{ "custom.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
	{{ range .Site.Params.plugins_css }}
	  <link rel="stylesheet" href="{{ . }}">
	{{ end }}
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="btn-hamburger"><button id="openMenu" style="float: right;" class="toggle-button button">☰</button></div>
<main style="clear: both;" class="frame wooden-frame">
	<nav class="left" id="menu">
		<a class='golden-button' href='/'>{{ .Site.Title }}</a>
		<p>
			Lvl {{ len ((where .Site.Pages "Type" "post").GroupByDate "2006" )}} Webmaster<br/>
			<img class='avatar' style='image-rendering: pixelated; border: 4px solid #BB7E34' height='125' src="https://heyloura.com/uploads/2024/3a04add34b.png">
		</p>
		<p>
			Hi, I'm Loura and this is my digital space. 
			Please feel free to <a href="/surprise-me">explore</a>, learn more <a href="/about">about me</a>, 
			<a href="/work">my work</a> and what I'm up to <a href="/now">now</a>.
		</p>
		<a class="button" href='/photos'>🔮 Photos</a>
		<a class="button" href='/books'>📚 Library</a>
		<a class="button" href='/archive'>🏛️ Archive</a>
		<a class="button" href='/search-space'>🔎 Search</a>
		<section>
			<h5>Categories</h5>
			<style>.dates span { display: none; } .dates span:first-child { display: inline-block; }</style>
			<p><small>
			{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
			{{ if gt (len $list) 0 }}
				{{ range $list }}
					{{ $categoryTitle := .Title }}
					{{ if eq .Title "newsletter" }}
					{{ else if eq .Title "app defaults" }}
					{{ else if eq .Title "change log" }}
					{{ else if eq .Title "timeline" }}
					{{ else if eq .Title "video" }}
					{{ else }}
						{{ $slice := slice "⚔️" "🐉" "🗡️" "🔮" "⚒️" "👻" "🧛‍♀️" "🦇" "🛡️" "👑" "🐦‍⬛" "🪙" }}
						{{ $shuffled := shuffle $slice }}
						{{ $random := index $shuffled 0 }}
						<a href="{{ .Permalink }}">{{ strings.FirstUpper .Title }}</a>&nbsp;{{$random}}
						<span class="dates">
						{{ range where .Site.Pages.ByDate.Reverse "Type" "post"  }}
							{{ $postDate := .Date.Format "Jan 2, 2006" }}
							{{- range $index, $category := .Page.Params.categories -}}
								{{ if eq $category $categoryTitle }}
								<span><small>{{ $postDate }}</small></span>
								{{ end }}
							{{- end -}}
						{{ end }}
						</span>
						<br/>
					{{ end }}
				{{ end }}
			{{ end }}
			</small></p>
		</section>
		<section>
			<h5>Blogger Stats</h5>
			<div class='level-bars'>
			{{ $posts := where site.RegularPages "Type" "post" }}
			{{ $microPostsCount := float ( len ( where $posts ".Params.title"  "=" nil )) }}
			{{ $titlePostsCount := float ( len ( where $posts ".Params.title"  "!=" nil )) }}
			
			{{ $scratch := newScratch }}
			{{ $scratch.Set "longCount" 0 }}
			{{ range $posts }}
			{{ $scratch.Add "wordcount" .WordCount }}
			{{ if ge .WordCount ($scratch.Get "longCount") }}
			{{ $scratch.Set "longestPost" . }}
			{{ $scratch.Set "longCount" .WordCount }}
			{{ end }}
			{{ end }}
			{{ $postCount :=  len ($posts) }}
			{{ $wordCount := $scratch.Get "wordcount" }}
			{{ $maxWordCount := $scratch.Get "longestPost" }}
			{{ $avgPostLength := float (div $wordCount $postCount) }}
			<small>Micro posts</small>
			<div id='mana-bar' class='rpgui-progress red'>
				<div class=' rpgui-progress-track'>
					<div class=' rpgui-progress-fill red' style='left: 0px; width: {{math.Mul 100 (math.Div $microPostsCount (math.Add $titlePostsCount $microPostsCount))}}%;'></div>
				</div>
				<div class=' rpgui-progress-left-edge'></div>
				<div class=' rpgui-progress-right-edge'></div>
			</div>
			<small>Long posts</small>
			<div id='hp-bar' class='rpgui-progress blue'>
				<div class='rpgui-progress-track'>
					<div class=' rpgui-progress-fill blue' style='left: 0px; width: {{math.Mul 100 (math.Div $titlePostsCount (math.Add $titlePostsCount $microPostsCount))}}%;'></div>
				</div>
				<div class=' rpgui-progress-left-edge'></div>
				<div class=' rpgui-progress-right-edge'></div>
			</div>
			<small>Average word count</small>
			<div id='stamina-bar' class='rpgui-progress green'>
				<div class=' rpgui-progress-track'><div class=' rpgui-progress-fill green' style='left: 0px; width:{{ with $scratch.Get "longestPost" }}{{math.Mul 100 (math.Div $avgPostLength .WordCount)}}{{ end }}%;'></div></div>
				<div class=' rpgui-progress-left-edge'></div><div class=' rpgui-progress-right-edge'></div>
			</div>
			<small>Total words (goal 100,000)</small>
			<div id='stamina-bar' class='rpgui-progress' ><div class=' rpgui-progress-track'>
				<div class=' rpgui-progress-fill' style='left: 0px; width: {{math.Mul 100 (math.Div $wordCount  100000.0)}}%;'></div></div>
				<div class=' rpgui-progress-left-edge'></div><div class=' rpgui-progress-right-edge'></div></div>
			</div>
		</section>
		<aside>
			<header><h5>Indieweb</h5></header>
			<div style="text-align:center;">
				<small><a target='_blank' href='https://xn--sr8hvo.ws'>🕸️💍</a>
				<a target='_blank' href='https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/previous'>⬅️</a>
				<a target='_blank' href='https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/next'>➡️</a></small><br/>
				<a target='_blank' href='https://indieweb.org/'>
				<img src='https://heyloura.com/uploads/2022/4af033892a.png' height='25' alt='IndieWebCamp' style='image-rendering:pixelated;'>
				</a>
				<img src='https://heyloura.com/uploads/2022/04d164b1ac.png' height='25' alt='Webmention' style='image-rendering:pixelated;'>
				<img src='https://heyloura.com/uploads/2022/927e2836c9.png' height='25' alt='Microformats' style='image-rendering:pixelated;'>
			</div>
			<header><h5>WWW & Fediverse</h5></header>
			<p>
			<a target='_blank' href='https://micro.blog/heyloura'><img style='image-rendering: pixelated;' height='32' src='https://heyloura.com/uploads/2022/1eb5b77d81.png' alt='microblog website icon'></a>               
			<a target='_blank' href='https://heyloura.com/feed.xml'><img style='image-rendering: pixelated;' height='32' src='https://heyloura.com/uploads/2022/e29d8fe9f3.png' alt='rss feed'></a>
			<a target='_blank' href='https://github.com/heyloura'><img style='image-rendering: pixelated;' height='32' src='https://heyloura.com/uploads/2023/icons8-github-30.png' alt='github link'></a>
			</p>
			<header><h5>Gemini</h5></header>
			<p>
				<img style='image-rendering: pixelated;' height='32' width='80' src='/img/geminibtn.png' alt='gemini protocol btn'>              
				<br/>
				<small>heyloura.com is now available on a simpler alternative to the web. You will need a gemini client/browser to access it.<br/><br/>
				gemini://capsule.heyloura.com/</small>
			</p>
			<header><h5>Analytics</h5></header>
			<p><small><span class='tinylytics_hits'></span> website hits tracked by <a href='https://tinylytics.app/public/k8W9_T_FtwGM-5zeSNC7'>tinylytics.app</a></small>
			<a href='#' target='_blank' class='tinylytics_webring'>
				<img class='tinylytics_webring_avatar' src='' style='display: none'/>🕸️💍
			</a></p>
			<header><h5>Credits</h5></header>
			<p><a target='_blank' href='https://github.com/RonenNess/RPGUI'>RPG UI</a>
				<br><a href='https://www.avatarsinpixels.com/'>Avatars in Pixels</a>
				<br><a href='https://heropatterns.com/'>Hero Patterns</a></p>
		</aside>
	</nav>
	<section id="panel" class="right content">
		{{ block "main" . }}{{ end }}
	</section>
	<div style="clear:both;"></div>
	<div class="frame border-frame" id="gamePrompt" style="position:fixed;bottom:1em;left:1em;">
		<button onclick="document.getElementById('gameModal').showModal();" 
		id="gameLaunch" 
		style="width: 170px;"
		type="button" 
		class='golden-button'>Game</button>
		<div id="monsterContainer"></div>
	</div>
</main>
<footer style='padding-top: 1em;'>
    <p style="text-align:center">Made with 💖 and frequently under 🚧</p>
</footer>

<script>
  window.Prism = window.Prism || {};
  window.Prism.manual = true;
</script>

<script src="/js/prism.js"></script>

<script>
	function wrapInner(parent, wrapper) {
		if (typeof wrapper === "string")
		wrapper = document.createElement(wrapper);
		wrapper.classList.add("language-html");
		
		var div = parent.appendChild(wrapper);
		
		while(parent.firstChild !== wrapper)
		wrapper.appendChild(parent.firstChild);
	}
	var pres = document.querySelectorAll('pre');
	pres.forEach(function (pre, index) {
		var hasCodeEl = false;
		var hasCodeClass = false;
		for (var i = 0; i < pre.children.length; i++) 
		{
			var child = pre.children[i];
			if(child.nodeName == "CODE") 
			{
				hasCodeEl = true;
			}
		}
		for (var j = 0; j < pre.classList.length; j++) 
		{
			console.log(pre.classList[j].indexOf('language-') );
			if(pre.classList[j].indexOf('language-') > -1) 
			{
				hasCodeClass = true;
			}
		}
		if(!hasCodeClass) 
		{
			console.log('need to add class');
			pre.classList.add("language-html")
		}
		if(!hasCodeEl) 
		{
			//wrap code element around content
			wrapInner(pre, "code");
		}
	});
	Prism.highlightAll();
</script>
<!--<script type="module" src='https://afraid-eagle-74.deno.dev/embed.js' defer></script>-->
<script src='https://tinylytics.app/embed/ty-z3nCjHzz9nhTen2UU.js?hits&webring=avatar&kudos=🪄' defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
	<script>
  var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'padding': 256,
    'tolerance': 70
  });

  // Toggle button
  document.querySelector('.toggle-button').addEventListener('click', function() {
    slideout.toggle();
  });
</script>
<!--<script src="https://unpkg.com/floating.js"></script>
<script>
const isReduced = window.matchMedia(`(prefers-reduced-motion: reduce)`) === true || window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === true;

function emoji() {
  floating({
    content: "👻",
    number: 1,
    duration: 26,
    repeat: 1,
  });
  floating({
    content: "🎃",
    number: 1,
    duration: 24,
    repeat: 1,
  });
  floating({
    content: "🧟‍♀️",
    number: 1,
    duration: 33,
    repeat: 1,
  });
  floating({
    content: "🧙‍♀️",
    number: 1,
    duration: 18,
     repeat: 1,
    size: 2
  });
  floating({
    content: "🪦",
    number: 1,
    duration: 26,
    repeat: 1,
  });
  floating({
    content: "🦇",
    number: 1,
    duration: 24,
    repeat: 1,
  });
  floating({
    content: "🍬",
    number: 1,
    duration: 33,
    repeat: 1,
  });
  floating({
    content: "🕷️",
    number: 1,
    duration: 23,
     repeat: 1,
    size: 2
  });
  floating({
    content: "Boo!",
    number: 1,
    duration: 20,
    repeat: 1,
    size: 5
  });
}
	
if (!!isReduced) {
    // DON'T use an amination here!
} else {
	var x = 5;
	var interval = 6 * 1000;
	for (var i = 0; i < x; i++) {
	    setTimeout(function () {
emoji();
	    }, i * interval)
	}
}
</script>-->
    {{ range .Site.Params.plugins_js }}
      <script src="{{ . }}"></script>
    {{ end }}
</body>
</html>
