<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class="wooden-frame">
  {{ partial "header.html" . }}

  {{ block "main" . }}{{ end }}

  {{ if templates.Exists "partials/microhook-below-wrapper.html" }}
    {{ partial "microhook-below-wrapper.html" . }}
  {{ end }}

  {{ partial "footer.html" . }}

  {{ range .Site.Params.plugins_js }}
  <script src="{{ . }}"></script>
  {{ end }}

  {{ if templates.Exists "partials/microhook-before-closing-body.html" }}
  {{ partial "microhook-before-closing-body.html" . }}
  {{ end }}
</body>

</html>