{{ define "main" }}
	<style>
	.square-gallery {
		  display: grid;
		  grid-template-columns: repeat(3, 1fr);
		  width: min(73vw, 548px);
	}
	.gallery-item {
		display: flex;
		justify-content: center;
		width: calc(min(73vw, 548px) / 3);
		height: calc(min(73vw, 548px)/ 3);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@media (min-width:768px) {
		.square-gallery {
			  display: grid;
			  grid-template-columns: repeat(3, 1fr);
			  width: min(54vw, 548px);
		}
		.gallery-item {
			display: flex;
			justify-content: center;
			width: calc(min(54vw, 548px) / 3);
			height: calc(min(54vw, 548px) / 3);
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	</style>
	<section>
	<h4>📜 Adventure Photos</h4>
	<img style="display:block;margin: 0px auto;" width="562" height="19" src="/img/border.gif">

	<div class="frame golden-frame">
	<div class="square-gallery">
	{{- $list := where .Site.Pages ".Params.photos" "!=" nil -}}
	{{- $len := (len $list) -}}
	{{ range $index, $value := $list }}
		<a href="{{ .Permalink }}" class="gallery-item">
			{{ range first 1 .Params.photos }}
				{{ if .sizes.small }}
					<img src="{{ .sizes.small }}" width="300" height="300" class="photos-grid-item" loading="lazy">
				{{ else }}
					{{ if .sizes.medium }}
						<img src="{{ .sizes.medium }}" width="300" height="300" class="photos-grid-item" loading="lazy">
					{{ else }}
						<img src="{{ .url }}" width="300" height="300" class="photos-grid-item" loading="lazy">
					{{ end }}
				{{ end }}
			{{ end }}
		</a>
	{{ end }}
	</div>
	</div>
	</section>
	{{ partial "game.html" . }}
{{ end }}
