{{ define "main" }}
	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	
	{{ $list := (where .Site.Pages "Type" "post") }}
	<div class="h-feed">
		<!--<h4 class="frame border-frame">Post Archive</h4>-->
		

			<h4>📜 Adventure Log</h4>
			<img style="margin-bottom:3em;display:block;margin: 0px auto;" width="562" height="19" src="/img/border.gif">
		<div class="frame golden-frame">
		{{ range $list }}
		<div style="margin-top:1em;" class="h-entry frame grey-frame">
			<p class="">
				<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</time></a>:
				{{ if .Title }}
					<span class="p-name"><b>{{ .Title }}</b></span> 
				{{ end }}
				<span class="p-summary">{{ .Summary | truncate 100 }}</span>
			</p>
		</div>
		{{ end }}

		</div>
	</div>

{{ end }}
