<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Color - Weird Website October 2024</title>
  <meta name="description" content="Wierd Website October 2024">
  <!--<link rel="preload" as="fetch" href="https://octothorp.es/?uri=https://heyloura.com/wwo-2024-03-color/" >
  <link rel="octo:octothorpes" href="weirdweboctober" >
  <link rel="octo:octothorpes" href="Color" >-->
  <link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
    {{ if .RSSLink -}}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ "podcast.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="Podcast" />
      <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ "feed.json" | absURL }}" />
      <link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
    {{ end -}}
	<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
	<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
	<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
	<link rel="micropub" href="https://micro.blog/micropub" />
	<link rel="microsub" href="https://micro.blog/microsub" />
	<link rel="webmention" href="https://micro.blog/webmention" />
	<link rel="subscribe" href="https://micro.blog/users/follow" />
<style>
            /* https://alvaromontoro.com/blog/68055/ten-css-one-liners-for-almost-every-project */
            /* https://www.swyx.io/css-100-bytes */
            body, input, select {
                max-width: clamp(320px, 90%, 1000px);
                margin: auto;
                font-size: 1.25rem;
                line-height: 1.5;
                accent-color: #080;
                padding: 1em;
                font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                color: #1d1d1d;
            }
            input, select {
                padding: 0.25em;
            }
            img {
                max-width: 100%;
            }
            p, ul {
                max-width: 65ch;
            }
            h1, h2, h3, h4, h5, h6 {
                text-wrap: balance;
                font-size: 1.5rem;
                margin: 2em 0 1em;
            }
/*             :is(tbody, table) > tr:nth-child(odd) {
                background: #0001;
            } */
            td, th {
                padding: 0.5em;
            }
            @media (prefers-reduced-motion) {
                *, *::before, *::after {
                    animation-duration: 0s !important;
                    transition: none !important;
                    scroll-behavior: auto !important;
                }
            }
	td {text-shadow: 0 1px 1px rgba(255, 255, 255, 0.20);}
	tr td:first {width:3em;height:3em;}
	main { display:flex; }
</style>
</head>

<body>
  <aside>
	<details><summary>Weird Web October 2024 Submissions</summary>
	  	<iframe aria-busy="true"
		      id="wwo-index"
		      src="/wwo-2024-00-index" 
		      loading="lazy"
		      onload="disappear(this)"></iframe>
	  </details>  
  </aside>
	<h1>HTML Named Colors</h1>
  <main>
	<section>
	  <h2>Black/Grey/White</h2>
		  <table>
			  <thead>
				  <tr><th>Color</th><th>Name</th><th>Hex</th></tr>	  
			  </thead>
			  <tbody>
				  <tr><td style="background-color:black;"></td><td>black</td><td>#000000</td></tr>
				  <tr><td style="background-color:dimgray;"></td><td>dimgray</td><td>#696969</td></tr>
				  <tr><td style="background-color:gray;"></td><td>gray</td><td>#808080</td></tr>
				  <tr><td style="background-color:darkgray;"></td><td>darkgray</td><td>#a9a9a9</td></tr>
				  <tr><td style="background-color:silver;"></td><td>silver</td><td>#c0c0c0</td></tr>
				  <tr><td style="background-color:lightgray;"></td><td>lightgray</td><td>#d3d3d3</td></tr>
				  <tr><td style="background-color:gainsboro;"></td><td>gainsboro</td><td>#dcdcdc</td></tr>
				  <tr><td style="background-color:whitesmoke;"></td><td>whitesmoke</td><td>#f5f5f5</td></tr>
				  <tr><td style="background-color:white;"></td><td>white</td><td>#ffffff</td></tr>
			  </tbody>
		  </table>
	 </section>
	  <section>
	  <h2>Purple</h2>
		  <table>
			  <thead>
				  <tr><th>Color</th><th>Name</th><th>Hex</th></tr>	  
			  </thead>
			  <tbody>
				  <tr><td style="background-color:blueviolet;"></td><td>blueviolet</td><td>#8a2be2</td></tr>
				  <tr><td style="background-color:darkmagenta;"></td><td>darkmagenta</td><td>#8b008b</td></tr>
				  <tr><td style="background-color:darkorchid;"></td><td>darkorchid</td><td>#9932cc</td></tr>
				  <tr><td style="background-color:darkviolet;"></td><td>darkviolet</td><td>#9400d3</td></tr>
				  <tr><td style="background-color:ghostwhite;"></td><td>ghostwhite</td><td>#f8f8ff</td></tr>
			  </tbody>
		  </table>
	 </section>
	  <section>
	  <h2>Blue</h2>
		  <table>
			  <thead>
				  <tr><th>Color</th><th>Name</th><th>Hex</th></tr>	  
			  </thead>
			  <tbody>
				  <tr><td style="background-color:blue;"></td><td>blue</td><td>#0000ff</td></tr>
				  <tr><td style="background-color:aqua;"></td><td>aqua</td><td>#00ffff</td></tr>
				  <tr><td style="background-color:aliceblue;"></td><td>aliceblue</td><td>#f0f8ff</td></tr>
				  <tr><td style="background-color:azure;"></td><td>azure</td><td>#f0ffff</td></tr>
				  <tr><td style="background-color:cadetblue;"></td><td>cadetblue</td><td>#5f9ea0</td></tr>
				  <tr><td style="background-color:cornflowerblue;"></td><td>cornflowerblue</td><td>#6495ed</td></tr>
				  <tr><td style="background-color:darkblue;"></td><td>darkblue</td><td>#00008b</td></tr>
				  <tr><td style="background-color:darkcyan;"></td><td>darkcyan</td><td>#008b8b</td></tr>
				  <tr><td style="background-color:darkslateblue;"></td><td>darkslateblue</td><td>#483d8b</td></tr>
				  <tr><td style="background-color:darkslategray;"></td><td>darkslategray</td><td>#2f4f4f</td></tr>
				  <tr><td style="background-color:darkturquoise;"></td><td>darkturquoise</td><td>#00ced1</td></tr>
				  <tr><td style="background-color:deepskyblue;"></td><td>deepskyblue</td><td>#00bfff</td></tr>
				  <tr><td style="background-color:dodgerblue;"></td><td>dodgerblue</td><td>#1e90ff</td></tr>
			  </tbody>
		  </table>
	 </section>
	   <section>
	  <h2>Green</h2>
		  <table>
			  <thead>
				  <tr><th>Color</th><th>Name</th><th>Hex</th></tr>	  
			  </thead>
			  <tbody>
				  <tr><td style="background-color:aquamarine;"></td><td>aquamarine</td><td>#7fffd4</td></tr>
				  <tr><td style="background-color:chartreuse;"></td><td>chartreuse</td><td>#7fff00</td></tr>
				  <tr><td style="background-color:darkgreen;"></td><td>darkgreen</td><td>#006400</td></tr>
				  <tr><td style="background-color:darkolivegreen;"></td><td>darkolivegreen</td><td>#556b2f</td></tr>
				  <tr><td style="background-color:darkseagreen;"></td><td>darkseagreen</td><td>#8fbc8f</td></tr>
				  <tr><td style="background-color:forestgreen;"></td><td>forestgreen</td><td>#228b22</td></tr>
				  <tr><td style="background-color:green;"></td><td>green</td><td>#008000</td></tr>
				  <tr><td style="background-color:greenyellow;"></td><td>greenyellow</td><td>#adff2f</td></tr>
				  <tr><td style="background-color:honeydew;"></td><td>honeydew</td><td>#f0fff0</td></tr>
			  </tbody>
		  </table>
	 </section>
	   <section>
	  <h2>Yellow/Orange/Brown</h2>
		  <table>
			  <thead>
				  <tr><th>Color</th><th>Name</th><th>Hex</th></tr>	  
			  </thead>
			  <tbody>
				  
				  <tr><td style="background-color:antiquewhite;"></td><td>antiquewhite</td><td>#faebd7</td></tr>
				  <tr><td style="background-color:beige;"></td><td>beige</td><td>#f5f5dc</td></tr>
				  <tr><td style="background-color:bisque;"></td><td>bisque</td><td>#ffe4c4</td></tr>
				  <tr><td style="background-color:blanchedalmond;"></td><td>blanchedalmond</td><td>#ffebcd</td></tr>
				  <tr><td style="background-color:brown;"></td><td>brown</td><td>#a52a2a</td></tr>
				  <tr><td style="background-color:burlywood;"></td><td>burlywood</td><td>#deb887</td></tr>
				  <tr><td style="background-color:chocolate;"></td><td>chocolate</td><td>#d2691e</td></tr>
				  <tr><td style="background-color:coral;"></td><td>coral</td><td>#ff7f50</td></tr>
			          <tr><td style="background-color:cornsilk;"></td><td>cornsilk</td><td>#fff8dc</td></tr>
				  <tr><td style="background-color:darkgoldenrod;"></td><td>darkgoldenrod</td><td>#b8860b</td></tr>
				  <tr><td style="background-color:darkkhaki;"></td><td>darkkhaki</td><td>#bdb76b</td></tr>
				  <tr><td style="background-color:darkorange;"></td><td>darkorange</td><td>#ff8c00</td></tr>
				  <tr><td style="background-color:floralwhite;"></td><td>floralwhite</td><td>#fffaf0</td></tr>
				  <tr><td style="background-color:gold;"></td><td>gold</td><td>#gold</td></tr>
				  <tr><td style="background-color:goldenrod;"></td><td>goldenrod</td><td>#daa520</td></tr>
			  </tbody>
		  </table>
	 </section>
	  <section>
	  <h2>Red</h2>
		  <table>
			  <thead>
				  <tr><th>Color</th><th>Name</th><th>Hex</th></tr>	  
			  </thead>
			  <tbody>
				  
				  <tr><td style="background-color:crimson;"></td><td>crimson</td><td>#dc143c</td></tr>
				  <tr><td style="background-color:darkred;"></td><td>darkred</td><td>#8b0000</td></tr>
				  <tr><td style="background-color:darksalmon;"></td><td>darksalmon</td><td>#e9967a</td></tr>
				  <tr><td style="background-color:deeppink;"></td><td>deeppink</td><td>#ff1493</td></tr>
				  <tr><td style="background-color:firebrick;"></td><td>firebrick</td><td>#b22222</td></tr>
				  <tr><td style="background-color:fuchsia;"></td><td>fuchsia</td><td>#ff00ff</td></tr>
			  </tbody>
		  </table>
	 </section>
  </main>
<script>
	/* Make the iframe hidden while loading  */
(async () => {
  let div = document.createElement('div');
  let ref = document.getElementsByTagName('base')[0] || 
            document.getElementsByTagName('script')[0];

  div.innerHTML = '<style> iframe { visibility: hidden; } </style>';
  ref.parentNode.insertBefore(div, ref);
})();  

/* Copy the contents of the iframe into the DOM and execute scripts  */
function disappear(frame) {
let body = (frame.contentDocument.body||frame.contentDocument);

frame.before(body);

frame.remove();
}
</script>
  
  <script src='https://tinylytics.app/embed/ty-z3nCjHzz9nhTen2UU.js?hits' defer></script>
</body>

</html>
