<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>CSS - Weird Website October 2024</title>
  <meta name="description" content="Wierd Website October 2024">
  <!--<link rel="preload" as="fetch" href="https://octothorp.es/?uri=https://heyloura.com/wwo-2024-02-css/" >
  <link rel="octo:octothorpes" href="weirdweboctober" >
  <link rel="octo:octothorpes" href="CSS" >-->
  <link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
    {{ if .RSSLink -}}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ "podcast.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="Podcast" />
      <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ "feed.json" | absURL }}" />
      <link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
    {{ end -}}
	<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
	<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
	<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
	<link rel="micropub" href="https://micro.blog/micropub" />
	<link rel="microsub" href="https://micro.blog/microsub" />
	<link rel="webmention" href="https://micro.blog/webmention" />
	<link rel="subscribe" href="https://micro.blog/users/follow" />
	  <meta name="color-scheme" content="light">
</head>

<body alink="green">
  <table>
    <thead>
      <tr><th></th></tr>
    </thead>
    <tbody>
      <tr>
        <td><marquee
  direction="down"
  width="250"
  height="200"
  behavior="alternate"
  style="border:solid">
  <marquee behavior="alternate">This text will bounce</marquee>
</marquee></td>
      </tr>
    </tbody>
  </table>
  <main>
	  <div>
	  <h1>Jumping along trees</h1>
	  <details><summary>Weird Web October 2024 Submissions</summary>
	  	<iframe aria-busy="true"
		      id="wwo-index"
		      src="/wwo-2024-00-index" 
		      loading="lazy"
		      onload="disappear(this)"></iframe>
	  </details>
		</div>
  </main>
  <script>
  	/* Make the iframe hidden while loading  */
  (async () => {
    let div = document.createElement('div');
    let ref = document.getElementsByTagName('base')[0] || 
              document.getElementsByTagName('script')[0];
  
    div.innerHTML = '<style> iframe { visibility: hidden; } </style>';
    ref.parentNode.insertBefore(div, ref);
  })();  
  
  /* Copy the contents of the iframe into the DOM and execute scripts  */
  function disappear(frame) {
  let body = (frame.contentDocument.body||frame.contentDocument);
  
  frame.before(body);
  
  frame.remove();
  }
  </script>
  <script src='https://tinylytics.app/embed/ty-z3nCjHzz9nhTen2UU.js?hits' defer></script>
</body>
</html>
