<footer>
    {{ if templates.Exists "partials/microhook-footer.html" }}
    {{ partial "microhook-footer.html" . }}
    {{ else }}
    {{ partial "custom_footer.html" . }}
    {{ end }}
    <p class="attribution">Hosted by <a href="https://micro.blog">Micro.blog</a></p>
</footer>
<table>
    {{ range $key, $value := .Params }}
        {{ printf "<tr><td>%#v</td><td>%#v</td></tr>" $key $value | safeHTML }}
    {{ end }}
</table>
<table>
    {{ range $key, $value := .Site }}
        {{ printf "<tr><td>%#v</td><td>%#v</td></tr>" $key $value | safeHTML }}
    {{ end }}
</table>