<dialog id="gameModal" class="frame border-frame">
	<button onclick="document.getElementById('gameModal').close();">close</button>
	<div id="gameContainer" class="world">
        <div class="area">
            {{ $x := 0 }}
            {{ range (seq 10)}}
                {{ $y := 0 }}
                {{ range (seq 10)}}
                    <button data-x="{{ $x }}" data-y="{{ $y }}" class="sprite grass-tall"></button>
                    {{ $y = . }}
                {{ end }}
                {{ $x = . }}
            {{ end }}
        </div>
    </div>
    Hi random {{ index (seq 18 | shuffle) 0 }}
</dialog>