<header style="display:none;" class="site-header">
	{{ if templates.Exists "partials/microhook-profile-photo.html" }}
	{{ partial "microhook-profile-photo.html" . }}
	{{ else }}
	<a href="/"></a>
	{{ end }}
	{{ if templates.Exists "partials/microhook-title.html" }}
	{{ partial "microhook-title.html" . }}
	{{ else }}
	<h1><a class="site-title p-name u-url" href="/">{{ .Site.Title }}</a></h1>
	{{ end }}
	{{ if templates.Exists "partials/microhook-description.html" }}
	{{ partial "microhook-description.html" . }}
	{{ else }}
	<p class="description">{{ .Site.Params.itunes_description | safeHTML }}</p>
	{{ end }}
	{{ if templates.Exists "partials/microhook-navigation.html" }}
	{{ partial "microhook-navigation.html" . }}
	{{ else }}
	<nav class="site-nav">
		<ul>
			{{ if templates.Exists "partials/microhook-inline-nav-begin.html" }}
			{{ partial "microhook-inline-nav-begin.html" . }}
			{{ end }}
			{{ range .Site.Menus.main }}
			{{ if .Page.Params.redirect_url }}
			<li><a class="page-link {{ .Name }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
			{{ else }}
			<li><a class="page-link {{ .Name }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
			{{ end }}
			{{ end }}
			{{ if templates.Exists "partials/microhook-inline-nav-end.html" }}
			{{ partial "microhook-inline-nav-end.html" . }}
			{{ end }}
		</ul>
	</nav>
	{{ end }}
</header>
<ol class="toc-list h-feed" role="list">
    <li>
        <a href="/">
            <span class="title">Hey Loura<span class="leaders" aria-hidden="true"></span></span><span class="page">
                <img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }} Profile Photo" class="u-photo avatar" />
            </span>
        </a>
        <ol role="list">
            {{ if templates.Exists "partials/microhook-inline-nav-begin.html" }}
            {{ partial "microhook-inline-nav-begin.html" . }}
            {{ end }}
            {{ range .Site.Menus.main }}
            <table style="display:none;">
                {{ range $key, $value := .Page.Params }}
                    {{ printf "<tr><td>%#v</td><td>%#v</td></tr>" $key $value | safeHTML }}
                {{ end }}
            </table>
            {{ if .Page.Params.redirect_url }}
            <li class="h-entry">
                <a class="u-url" href="{{ .Page.Params.redirect_url }}">
                    <span class="p-name title">{{ .Name }}
                        <span class="leaders" aria-hidden="true"></span>
                    </span>
                    <span class="page">
                        {{- if .Page.Params.Lastmod }}
                        <time class="dt-updated" datetime="{{ .Page.Params.Lastmod.Format "2006-01-02 15:04:05 -0700" }}">
                            {{ .Page.Params.Lastmod.Format "2006.01.02" }}
                        </time>
                        {{- end}}
                    </span>
                </a>
            </li>
            {{ else }}
            <li class="h-entry">
                <a class="u-url" href="{{ .URL | relLangURL | safeURL }}">
                    <span class="p-name title">{{ .Name }}
                        <span class="leaders" aria-hidden="true"></span>
                    </span>
                    <span class="page">
                        {{- if .Page.Params.Lastmod }}
                        <time class="dt-updated" datetime="{{ .Page.Params.Lastmod.Format "2006-01-02 15:04:05 -0700" }}">
                            {{ .Page.Params.Lastmod.Format "2006.01.02" }}
                        </time>
                        {{- end}}
                    </span>
                </a>
            </li>
            {{ end }}
            {{ end }}
            {{ if templates.Exists "partials/microhook-inline-nav-end.html" }}
            {{ partial "microhook-inline-nav-end.html" . }}
            {{ end }}
        </ol>
    </li>
</ol>