<header style="display:none;" class="site-header">
	{{ if templates.Exists "partials/microhook-profile-photo.html" }}
	{{ partial "microhook-profile-photo.html" . }}
	{{ else }}
	<a href="/"><img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }} Profile Photo" class="profile_photo u-photo" width="80" height="80"></a>
	{{ end }}
	{{ if templates.Exists "partials/microhook-title.html" }}
	{{ partial "microhook-title.html" . }}
	{{ else }}
	<h1><a class="site-title p-name u-url" href="/">{{ .Site.Title }}</a></h1>
	{{ end }}
	{{ if templates.Exists "partials/microhook-description.html" }}
	{{ partial "microhook-description.html" . }}
	{{ else }}
	<p class="description">{{ .Site.Params.itunes_description | safeHTML }}</p>
	{{ end }}
	{{ if templates.Exists "partials/microhook-navigation.html" }}
	{{ partial "microhook-navigation.html" . }}
	{{ else }}
	<nav class="site-nav">
		<ul>
			{{ if templates.Exists "partials/microhook-inline-nav-begin.html" }}
			{{ partial "microhook-inline-nav-begin.html" . }}
			{{ end }}
			{{ range .Site.Menus.main }}
			{{ if .Page.Params.redirect_url }}
			<li><a class="page-link {{ .Name }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
			{{ else }}
			<li><a class="page-link {{ .Name }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
			{{ end }}
			{{ end }}
			{{ if templates.Exists "partials/microhook-inline-nav-end.html" }}
			{{ partial "microhook-inline-nav-end.html" . }}
			{{ end }}
		</ul>
	</nav>
	{{ end }}
</header>
<header>
    <nav>
        <a href="/"><svg viewBox="0 0 160 256"><title>Home</title><path d="m8,256 30-3 12-77c5-32 31-53 48-53s19 11 19 16-3 37-69 37l-3 22c22 2 20 58 70 58 15 0 29-8 29-28s-14-25-16-26l-5 7c2 1 10 6 10 16s-6 16-13 16c-25 0-35-44-45-51 39-3 69-26 69-54s-20-33-39-33-41 14-46 19l7-44c8-53 30-58 42-58s12 10 12 13c0 24-50 50-88 50-15 0-20-6-20-16s12-19 14-20l-5-7c-2 1-21 10-21 30s14 28 34 28c46 0 110-33 110-70 0-20-15-28-34-28s-62 14-72 78z"></path></svg></a>
        {{ $count := len .Site.Menus.main }}
        {{ $half := div $count 2 }}
        <div>
        {{ range $index, $element := .Site.Menus.main }}
            {{ if lt $index $half }}
			{{ if .Page.Params.redirect_url }}
			<li><a class="page-link {{ .Name }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
			{{ else }}
			<li><a class="page-link {{ .Name }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
			{{ end }}
            {{ end }}
        {{ end }}
        </div>

        <div>
        {{ range $index, $element := .Data.Pages }}
            {{ if ge $index $half }}
			{{ if .Page.Params.redirect_url }}
			<li><a class="page-link {{ .Name }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
			{{ else }}
			<li><a class="page-link {{ .Name }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
			{{ end }}
            {{ end }}
        {{ end }}
        </div>
        <!--<div>
            <a href="/code/" class="section">Code</a>
            <a href="/data/">Data</a>
        </div>
        <div>
            <a href="/art/">Art</a>
            <a href="/ideas/">Ideas</a>
        </div>-->
    </nav>
</header>