{{ define "main" }}
{{ if templates.Exists "partials/microhook-post-list.html" }}
{{ partial "microhook-post-list.html" . }}
{{ else }}

{{ if templates.Exists "partials/microhook-before-post-list.html" }}
{{ partial "microhook-before-post-list.html" . }}
{{ end }}
<table style="display: none;">
    {{ range $key, $value := .Site.Params }}
        {{ printf "<tr><td>%#v</td><td>%#v</td></tr>" $key $value | safeHTML }}
    {{ end }}
</table>
    {{ range .Site.Pages }}
	<table style="display: none;">
		{{ range $key, $value := .Params }}
			{{ printf "<tr><td>%#v</td><td>%#v</td></tr>" $key $value | safeHTML }}
		{{ end }}
	</table>
    {{ end }}
<main class="h-feed wooden-frame">
<ol class="toc-list" role="list">
	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}

	{{ range $list }}
	{{ $category := .Title }}
	<li>
		<a href="{{ .Permalink }}">
            <span class="title">{{ .Title }}<span class="leaders" aria-hidden="true"></span></span>
            <span data-href="{{ .Permalink }}" class="page">🥕</span>
        </a>
		<ol role="list">
			{{ range .Site.Pages }}
				{{- if and (in .Params.Navigation "false") (eq .Params.Title $category)}}
				<li>
					{{ .Content }}
				</li>
				{{- end}}
			{{ end }}
			{{ range (where .Site.Pages.ByDate.Reverse "Type" "post") }}
				{{ if (in .Params.categories $category) }}
				{{ if .Title }}
				<li class="h-entry">
					<a class="p-url" href="{{ .Permalink }}">
						<span class="p-name title">{{ .Title }}<span class="leaders" aria-hidden="true"></span></span>
						<span class="page">
							{{- if .Page.Params.Lastmod }}
							<time class="dt-updated" datetime="{{ .Page.Params.Lastmod.Format "2006-01-02 15:04:05 -0700" }}">
								{{ .Page.Params.Lastmod.Format "2006.01.02" }}
							</time>
							{{- end}}
						</span>
					</a>
				</li>
				{{- end}}
				{{- end}}
			{{end}}
		</ol>
	</li>
	{{ end }}

	{{ end }}
</ol>
</main>
{{ if templates.Exists "partials/microhook-after-post-list.html" }}
{{ partial "microhook-after-post-list.html" . }}
{{ end }}
{{ if templates.Exists "partials/microhook-pagination.html" }}
{{ partial "microhook-pagination.html" . }}
{{ else }}
{{ end }}
{{ end }}
{{ end }}