{{ define "main" }}
{{ if templates.Exists "partials/microhook-post-list.html" }}
{{ partial "microhook-post-list.html" . }}
{{ else }}

{{ if templates.Exists "partials/microhook-before-post-list.html" }}
{{ partial "microhook-before-post-list.html" . }}
{{ end }}
<table style="display: none;">
    {{ range $key, $value := .Site.Params }}
        {{ printf "<tr><td>%#v</td><td>%#v</td></tr>" $key $value | safeHTML }}
    {{ end }}
</table>
    {{ range .Site.Pages }}
	<table style="display: none;">
		{{ range $key, $value := .Params }}
			{{ printf "<tr><td>%#v</td><td>%#v</td></tr>" $key $value | safeHTML }}
		{{ end }}
	</table>
    {{ end }}
<main class="h-feed">
<ol class="toc-list" role="list">
	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}

	{{ range $list }}
	<li>
		<a href="{{ .Permalink }}">
            <span class="title">{{ .Title }}<span class="leaders" aria-hidden="true"></span></span>
            <span data-href="{{ .Permalink }}" class="page">🥕</span>
        </a>
		<ol role="list">
			{{ $category := .Title }}
			{{ range (where .Site.Pages.ByDate.Reverse "Type" "post") }}
				{{ if (in .Params.categories $category) }}
				<li>
					<a href="#Promise-Basics-The-Promise-Lifecycle">
						<span class="title">The Promise Lifecycle<span class="leaders" aria-hidden="true"></span></span>
						<span data-href="#Promise-Basics-The-Promise-Lifecycle" class="page"><span
								class="visually-hidden">Page&nbsp;</span>17</span>
					</a>
				</li>
				{{- end}}
			{{end}}
		</ol>
	</li>
	{{ end }}

	{{ end }}
</ol>
	{{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
	{{ range .Paginator.Pages }}
	<article class="h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}">
		{{ if templates.Exists "partials/microhook-post-list-byline.html" }}
		{{ partial "microhook-post-list-byline.html" . }}
		{{ else }}
		<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> ∞</a>
		{{ end }}
		{{ if .Title }}
			<h2 class="p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
				{{ if in .RawContent "<!--more-->" }}
					<div class="p-summary">
						{{ $splitContents := split .RawContent "<!--more-->" }}
						{{ $summary := index $splitContents 0 }}
						{{ $summary := replaceRE "\\[\\^.*?\\]" "" $summary }}
						{{ $summary := replaceRE "\\n\\[\\^.*?\\]:.*" "" $summary }}
						{{ $summary | markdownify }}
						<p><a class="read-more" href="{{ .Permalink }}">
							{{ if templates.Exists "partials/microhook-read-more-text.html" }}
							{{ partial "microhook-read-more-text.html" . }}
							{{ else }}
							Read More →
							{{ end }}
						</a></p>
					</div>
				{{ else if .Params.custom_summary }}
				<div class="p-summary">
					<p>{{ .Summary | safeHTML }}<p>
				</div>
				{{ else }}
					<div class="e-content">
						{{ .Content }}
					</div>
				{{ end }}
		{{ else }}
			<div class="e-content">
				{{ .Content }}
			</div>
		{{ end }}
		{{ if templates.Exists "partials/microhook-below-post-in-list.html" }}
		{{ partial "microhook-below-post-in-list.html" . }}
		{{ end }}
		</article>
	{{ end }}
</main>
{{ if templates.Exists "partials/microhook-after-post-list.html" }}
{{ partial "microhook-after-post-list.html" . }}
{{ end }}
{{ if templates.Exists "partials/microhook-pagination.html" }}
{{ partial "microhook-pagination.html" . }}
{{ else }}
<nav>
    {{ if $paginator.HasPrev }}
    <span class="prev">
        <a href="{{ $paginator.Prev.URL }}" title="Previous Page"><span class="arrow">← Newer Posts</span></a>
    </span>
    {{ end }}
    {{ if $paginator.HasNext }}
    <span class="next">
        <a href="{{ $paginator.Next.URL }}"><span class="arrow">Older Posts →</span></a>
    </span>
    {{ end }}
</nav>
{{ end }}
{{ end }}
{{ end }}